<%- include("partials/header"); -%>

<div class="card-container">
    <h2 class="card-title"> <u> Administrative </u></h2>
    <div class="card-content">
        <p>" The only thing standing between you and outrageous success is continuous progress."</p>
        <p> - Dan Waldschmidt </p>
    </div>
</div>

<div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Marketing </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/marketingA.jpg" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p>Market research firms gather and analyze data about customers, competitors, distributors, and other actors and forces in the marketplace. </p>
                        <ul class="accordion-links">
                            <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Accountancy </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/accountancyA.webp" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p>Accountancy: systematic development and analysis of information about the economic affairs of an organization.  </p>
                        <ul class="accordion-links">
                            <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                            <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Finances </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/financesA.jpeg" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p>Finances: the process of raising funds or capital for any kind of expenditure. </p>
                        <ul class="accordion-links">
                            <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> International Business </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/internationalBusinessA.png" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p> </p>
                        <ul class="accordion-links">
                            <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                            <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>