<%- include("partials/header"); -%>

<div class="card-container">
    <h2 class="card-title"> <u> Medicine </u></h2>
    <div class="card-content">
        <p>" The best way to find yourself is to lose yourself in the service of others."</p>
        <p> - Mahatma Gandhi </p>
    </div>
</div>

<div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Pyschology </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/psychologyM.jpg" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p>Psychology is the scientific study of mind and behavior.</p>
                        <ul class="accordion-links">
                            <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                            <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Medicine </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/medicineM.jpg" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p>Medicine is the science and practice of caring for patients, managing the diagnosis, 
                            prognosis, prevention, treatment, palliation of their injury or disease, and promoting their health.</p>
                        <ul class="accordion-links">
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                            <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Nutrition </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/nutritionM.jpg" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p>The nutrition profession encompasses many levels of expertise and a wide variety of career possibilities.</p>
                        <ul class="accordion-links">
                            <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                            <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Nursing </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/nursingM.webp" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p>Nursing: integrates the art and science of caring and focuses on the protection, promotion, and optimization of health and human functioning; 
                            prevention of illness and injury; facilitation of healing; and alleviation of suffering through compassionate presence.</p>
                        <ul class="accordion-links">
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                            <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Dental Surgeon </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/dentalM.jpg" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p>It consists of the study, diagnosis, prevention, management, and treatment of diseases, disorders, and conditions of the mouth, 
                            most commonly focused on dentition (the development and arrangement of teeth) as well as the oral mucosa</p>
                        <ul class="accordion-links">
                            <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                            <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

<%- include("partials/footer"); -%>