<%- include("partials/header"); -%>

<div class="card-container">
    <h2 class="card-title"> <u> Humanities </u></h2>
    <div class="card-content">
        <p>" The calling of the humanities is to make us truly human in the best sense of the word."</p>
        <p> - J. Irwin Miller </p>
    </div>
</div>

<div>
    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Musical Studies </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/musicalS.png" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p> Musicology covers a wide and heterogeneous area of research and is 
                            concerned with the study not only of European and other art music but also of all folk and non-Western music. </p>
                        <ul class="accordion-links">
                            <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Communication Studies </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/comunicationH.png" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p>Communication studies (or communication science) is an academic discipline that deals with processes of human communication and behavior, 
                            patterns of communication in interpersonal relationships, social interactions and communication in different cultures. </p>
                        <ul class="accordion-links">
                            <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Journaling </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/journalingH.webp" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <ul class="accordion-links">
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Audiovisual </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/audiovisualH.jpg" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p>Audiovisual (AV) is electronic media possessing both a sound and a visual component, such as slide-tape presentations,
                            films, television programs, corporate conferencing, church services, and live theater productions.</p>
                        <ul class="accordion-links">
                            <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                            <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Digital Art / Animation </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/animacion.jpg" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p>Digital art refers to any artistic work or practice that uses digital technology as part of the creative or presentation process. 
                            It can also refer to computational art that uses and engages with digital media.</p>
                        <ul class="accordion-links">
                            <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                            <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion">
        <div class="accordion-item">
            <button class="accordion-button"> Law Studies </button>
            <div class="accordion-content">
                <div class="accordion-inner">
                    <img src="../IMG/leyes.png" alt="Civil" class="accordion-image">
                    <div class="accordion-info">
                        <p> Law is a set of rules that are created and are enforceable by social or 
                            governmental institutions to regulate behavior,[1] with its precise definition a matter of longstanding debate.</p>
                        <ul class="accordion-links">
                            <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                            <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                            <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>