<%- include("partials/header"); -%>

<div class="card-container">
    <h2 class="card-title"> <u> Humanities </u></h2>
    <div class="card-content">
        <p>" The calling of the humanities is to make us truly human in the best sense of the word."</p>
        <p> - J. Irwin Miller </p>
    </div>
</div>

<div>
    <div  class = "accordion">
        <button class="accordion-button"> Musical Studies </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Communication Studies </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Journaling </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Audiovisual </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Digital Art / Animation </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Law Studies </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>
</div>


<%- include("partials/footer"); -%>