<%- include("partials/header"); -%>

<div class="card-container">
    <h2 class="card-title"> <u> Medicine </u></h2>
    <div class="card-content">
        <p>" The best way to find yourself is to lose yourself in the service of others."</p>
        <p> - Mahatma Gandhi </p>
    </div>
</div>

<div>
    <div  class = "accordion">
        <button class="accordion-button"> Pyschology </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Medicine </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Nutrition </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Nursing </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Dental Surgeon </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>   
</div>

<%- include("partials/footer"); -%>