<%- include("partials/header"); -%>


<h2 id="Medicine"> Medicine </h2>
<div>
    <div  class = "accordion">
        <button class="accordion-button"> Pyschology </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Medicine </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Nutrition </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Nursing </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>

    <div  class = "accordion">
        <button class="accordion-button"> Dental Surgeon </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div>   
</div>

<%- include("partials/footer"); -%>