<%- include("partials/header"); -%>

<div class="card-container">
    <h2 class="card-title"> <u> Others </u></h2>
    <div class="card-content">
        <p>" Wonder is the beginning of wisdom"</p>
        <p> - Socrates </p>
    </div>
</div>

<div>
    <div  class = "accordion">
        <button class="accordion-button"> Architecture </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div> 

    <div  class = "accordion">
        <button class="accordion-button"> Gastronomic Business </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
                <li><a href="https://www.uag.mx/" alt="Link UP" target="_blank"> Universidad Autónoma de Guadalajara </a></li>
            </ul>

        </div>
    </div> 

    <div  class = "accordion">
        <button class="accordion-button"> Philosophy </button>

        <div class="accordion-content">

            <ul>
                <li><a href="https://www.up.edu.mx/#" alt="Link UP" target="_blank"> Universidad Panamericana </a></li>
                <li><a href="https://tec.mx/es" alt="Link UP" target="_blank"> Tecnológico de Monterrey </a></li>
            </ul>

        </div>
    </div> 

        

    

</div>

<%- include("partials/footer"); -%>