
.wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f5f5f5; 
    color: white;
  }
  
  .form-box {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #b76565; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 30%; 
    transition: transform 0.3s ease-in-out;
  }
  
  .wrapper.active .form-box.login {
    transform: translateX(-100%);
  }
  
  .wrapper.active .form-box.register {
    transform: translateX(0);
  }
  
  .title {
    margin-bottom: 10%;
    color: #ffffff; 
    text-align: center;
  }
  
  .input-box {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10%;
    color: black;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #3d0303;
    background-color: #f8e0e0;
    border-radius: 5px; 
    font-size: 14px;
  }
  
  .button-style {
    width: 15%;
    padding: 10px;
    background-color: #621f1f; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16vw;
  } 
  
  
  button:hover {
    background-color: #804545; 
  }
  
  .register-link {
    font-size: 14px;
    text-align: center;
  }
  
  .register-link a {
    color: #930000;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
    color:#570000;
  }
  
  @media (max-width: 480px) {
    .form-box {
      width: 90%; 
    }
  }
  