.bodyarrange{
    background-color: #f4f4f4;
}

.titleMain {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    background-color: #621f1f;
    text-align: center;
    color: white;
}

.containerElCubo {
    padding: 20px;
    background-color: #915454;
    border-radius: 20px;
    border-style: dotted;
    border-width: 8px;
    margin-left: 330px;
    margin-right: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 300px;
}

.elTexto {
    align-items: center;
    text-align: justify;
}

.goal {
    width: 250px;
    height: 250px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: -290px;
    margin-left: 30px;
}

#info {
    width: 1000px;
    height: 460px;
    margin-left: 200px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}