/* Página principal del perfil */
.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Contenedor del perfil */
  .profile-container {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  /* Lista del carrito */
  .cart-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  /* Botón de eliminar (en cada elemento) */
  .cart-button {
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background-color: #c14747;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cart-button:hover {
    background-color: #a02c2c;
  }
  
  /* Mensaje cuando el carrito está vacío */
  .empty-cart-message {
    font-style: italic;
    color: #888;
  }
  
  /* Contenedor del botón de agregar producto */
  .button-container {
    margin-top: 20px; /* Espaciado desde el carrito */
    text-align: center; /* Centra el botón */
  }
  
  /* Botón de agregar producto */
  .add-button {
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #388e3c;
  }
  
  .logout-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: darkred;
  }
  